  html,body {
      margin: 0;
      padding: 0;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      height: 100%;
      width: 100%;
      color: #fff;
      -webkit-tap-highlight-color: transparent;
      background-color: #fff;
  } 
  /* html{
    font-size:10px;
}  */
@media screen and (min-width:321px) and (max-width:375px){
    html{
        font-size:1em;
    }   
} 
@media screen and (min-width:376px) and (max-width:414px){
    html{
        font-size:1em;
    }
} 
@media screen and (min-width:415px) and (max-width:639px){
    html{
        font-size:1em;
    }
} 
@media screen and (min-width:640px) and (max-width:719px){
    html{
        font-size:1.25em;
    }
} 
@media screen and (min-width:720px) and (max-width:749px){
    html{
        font-size:1.4em;
    }
} 
@media screen and (min-width:750px) and (max-width:799px){
    html{
        font-size:1.5em;
    }
} 
@media screen and (min-width:800px){
    html{
        font-size:1.7em;
    }
}
  body div {
    margin: 0px;
    padding: 0px;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  * {
    box-sizing: border-box;
  }
  header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    z-index: 10000;
    background-color: transparent;
  }
  header div {
    display: inline-block;
    margin-top: 30px;
    height: 50%;
  }
  .info {
    float: left;
    margin-left: 3%;
    margin-right: 10px;
    border-radius: 50%;
  }
  .info img{
    margin: 0 auto;

    height: 100%;
    border: 1px solid #FFF;
    border-radius: 50%;
    box-shadow: 0 0 5px #FFF;
  }
  .music {
    float: right;
    margin-right: 3%;
    cursor: pointer;
    border-radius: 50%;
    -webkit-animation: rotate 11s linear infinite;
    animation: rotate 11s linear infinite;
  }
  .music img {
    margin: 0 auto;
    height: 100%;
    border: 1px solid #FFF;
    border-radius: 50%;
    box-shadow: 0 0 5px #FFF;
  }
  .swiper-container {
    position: absolute !important;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
  .swiper-container div {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .body-main-page-one {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;
    background-image: url('../public/bg.jpg');
    min-height: 600px;
    top: 0px;
  }
  .body-main-page-one-bottom {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: transparent;
  }
  .body-main-page-one-bottomDown {
    width: 50%;
    height: calc(100% - 21vh);
    margin: 27vh auto;
    position: relative;
    border-radius: 21px;
    background-color: transparent;
  }
  .body-main-page-one-bottomUp {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 21px;
    transition: border .4s ease;
  }
  .body-main-page-one-bottomUp-logo {
    position: relative;
    margin: 10px auto 30px;
    width: 170px;
    height: 170px;
    text-align: center;
    background-color: transparent;
    padding: 20px;
    box-shadow: 
      8px 8px 11px -11px #0366d6,
      -8px -8px 21px -11px #0366d6;
    background-image:linear-gradient(
      -40deg,
      transparent,
      transparent 70px,
      rgba(0, 178, 179,.3) 90px,
      rgba(0, 178, 179,.3) 110px,
      transparent 130px);
    background-repeat: no-repeat !important;
    -webkit-transition: all 1.3s;
    transition: all 1.3s;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
  }
  .body-main-page-one-bottomUp-logo img {
    width: 100%;
    margin: 5px;
    border-radius: 50%;
  }
  .body-main-page-one-bottomUp-title p:first-child {
    font-size: 3em;
    color: transparent;
    text-align: center;
    background: linear-gradient(30deg, #3388EE, #fff, #3388EE);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-animation: textMove 13s linear infinite;
    animation: textMove 13s linear infinite;
  }
  .body-main-page-one-bottomUp-title {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 0.7em;
    color: transparent;
    background: linear-gradient(20deg, #3388EE, #fff, #3388EE);
    background-clip: text;
    -webkit-background-clip: text;
  }
  @keyframes textMove
    {
      from {
        background-position: 0 0;
    }
    to {
        background-position: 2000px 0;
    }
    }

  @-webkit-keyframes textMove /*Safari and Chrome*/
  {
    from {
      background-position: 0 0;
  }
  to {
      background-position: 2000px 0;
  }
  }
  @-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  .body-main-page-two,
  .body-main-page-three,
  .body-main-page-four,
  .body-main-page-five {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 770px;
  }
  .body-main-page-two div,
  .body-main-page-three div,
  .body-main-page-four div,
  .body-main-page-five div {
    background-color: transparent;
  }
  .body-main-page-two {
    background-image: url('../public/bg2.jpg');
  }
  .body-main-page-two-bottom {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  .body-main-page-two-bottomUp-about,
  .body-main-page-three-title,
  .body-main-page-four-title,
  .body-main-page-five-title {
    position: relative;
    top: 7%;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    color: transparent;
    background: linear-gradient(30deg, #3388EE, #fff, #3388EE);
    background-clip: text;
    -webkit-background-clip: text;
  }
  .body-main-page-two-bottomUp-title {
    position: relative;
    margin: 18% auto;
    text-align: center;
    float: right;
    font-size: 0.7em;
  }
  .body-main-page-two-bottomUp-title p {
    /* margin: 0 auto; */
    font-size: 0.9em;
  }
  @media screen and (min-width:320px) and (max-width:639px){
    .body-main-page-two-bottom {
      width: 70%;
    }
    .body-main-page-two-bottomUp-title {
      margin: 50% auto;
      text-align: left;
    }
    .body-main-page-two-bottomUp-title p {
      /* margin: 0 auto; */
      font-size: 1.3em;
      text-shadow:1px -1px 5px #000000,
                  1px -1px 5px #000000;
    }
  }
  .body-main-page-three {
    background-image: url('../public/bg4.jpg');
  }
  .body-main-page-three-bottom,
  .body-main-page-four-bottom,
  .body-main-page-five-bottom {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .body-main-page-three-skills,
  .body-main-page-four-projects,
  .body-main-page-five-connect {
    /* min-width: 600px; */
    /* max-width: 1024px; */
    margin: 7% auto;
    position: relative;
    width: 100%;
    height: 50%;
  }
  .skills-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    max-width: 1100px;
  }
  .skills {
    width: 150px;
    height: 150px;
    margin: 10px;
    /* perspective: 300px; */
    font-size: 0.5em;
  }
  .skillsDiv {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  .skillsDiv:hover .skills-icon{
    transform-origin: 50% 50% -75px;
    animation: outright .9s ease-out forwards;
    backface-visibility: hidden;
  }
  .skillsDiv:hover .skills-hide {
    transform-origin: 50% 50% -75px;
    animation: inright .35s ease-out forwards;
  }
  @keyframes outright {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotateY(180deg);
    }
  }
  @keyframes inright {
    0% {
      transform: rotateY(-90deg);
    }
    100% {
      transform: rotateY(0);
    }
  }
  .skills-icon {
    width: 100%;
    height: 100%;
  }
  .skills-icon img {
    width: 100%;
    height: 100%;
  }
  .skills-hide {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transform-origin: right;
    transform: translate3d(-100%,0,0) rotateY(-90deg);
  }
  .body-main-page-three-footer,
  .body-main-page-four-footer,
  .body-main-page-five-footer {
    width: 100%;
    position: absolute;
    bottom: 5%;
  }
  .body-main-page-three-footer div,
  .body-main-page-four-footer div,
  .body-main-page-five-footer div
  {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 0.7em;
    color: transparent;
    background: linear-gradient(30deg, #3388EE, #fff, #3388EE);
    background-clip: text;
    -webkit-background-clip: text;
  }
  @media screen and (min-width:320px) and (max-width:639px){
    .body-main-page-three-skills{
      margin: 30% auto;
    }
    .skills-ul {
      width: 90%;
      height: auto;
      padding: 0px;
    }
    .skills {
      width: 25%;
      height: auto;
      margin: 5px;
      font-size: 0.5em;
    }
    .skills-hide p {
      font-size: 1.5em;
    }
    .body-main-page-three-footer div,
    .body-main-page-four-footer div,
    .body-main-page-five-footer div
    {
      font-size: 0.5em;
    }
    .skillsDiv:hover .skills-icon{
      transform-origin: 50% 50% -35px;
      animation: outright .8s ease-out forwards;
      backface-visibility: hidden;
    }
    .skillsDiv:hover .skills-hide {
      transform-origin: 50% 50% -35px;
      animation: inright .4s ease-out forwards;
    }
  }
  .body-main-page-four {
    background-image: url('../public/bg444.jpg');
  }
  .body-main-page-four-projects {
    position: absolute;
    width: 100%;
    height: 50%;
    margin: 10% auto;
  }
  .projects-ul {
    position: absolute;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  .projects-ul a {
    display: inline-block;
    margin: 0px 50px;
    width: 9%;
    text-decoration: none;
    color: #fff;
  }
  .projects {
    position: absolute;
    width: 7%;
    height: 100%;
    margin: 0 auto;
    /* perspective: 300px; */
    background-color:rgba(84, 133, 179, 0.5);
    border-radius: 20px;
  }
  .projectsDiv {
    position: relative;
    margin: 0 auto;
    width: 10%;
    height: 100%;
    line-height: 60px;
    font-size: 0.7em;
    font-weight: 700;
  }
  .projects:hover {
    box-shadow: 0 0px 30px #0366d6;
    transition: all 1.7s;
  }
  @media screen and (min-width:320px) and (max-width:639px){
    .body-main-page-four-projects {
      margin: 35% auto;
    }
    .projects-ul a{
      width: 11%;
      margin: 0 17px;
    }
    .projects {
      margin: 10% auto;
      width: 13%;
      height: 60%;
    }
    .projectsDiv {
      line-height: 30px;
      font-size: 1em;
      width: 25%;

    }

    
  }
  .body-main-page-five {
    background-image: url('../public/bg41.jpg');
  }
  .pr {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .section3 {
    width: 1000px;
    height: 680px;
    margin: 0 auto;
  }
  .onClickAfterImage {
    display: none;
    width: 100%;
    text-align: center;
  }
  .onClickAfterImage img {
    width: 10%;
    height: auto;
    border-radius: 80%;
  }
  .section3 .ui_base {
    position: absolute;
    top: 47%;
    left: 37%;
    width: 400px;
    height: 0px;
    perspective: 300px;
    perspective-origin: 50% top;
  }
  .u_p3d {
    transform-style: preserve-3d;
  }
  /* .section3 .ball_c {
    transform-origin: 50% 50%;
    position: absolute;
    width: 225px;
    height: 157px;
    line-height: 157px;
    text-align: center;
    left: 90px;
    top: 100px;
  } */
  .section3 .base {
    animation: cir 18s linear 0s infinite;
    transform: rotateX(90deg) rotateY(0deg);
    position: relative;
    width: 350px;
    height: 350px;
    backface-visibility: hidden;
    left: 50px;
  }
  @keyframes cir {
    0% {
      transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(90deg) rotateY(0deg) rotateZ(-360deg);
    }
  }
  .section3 .ball_1 {
    transform: rotateX(-90deg) rotateY(0deg) translateY(-70px);
  }
  .section3 .ball_base {
    transform-origin: 225px 0px;
    position: absolute;
    top: 175px;
    left: -50px;
    width: 225px;
    height: 127px;
  }
  .section3 .ball_1 .ball {
    animation: cir1 18s linear 0s infinite;
    transition-delay: 1100ms;
    transform: rotateY(10deg) rotateZ(10deg);
  }
  .section3 .ball {
    transition: all 2s ease-out 0ms;
    transform-origin: 50% 50%;
    position: absolute;
    left: -200px;
    top: -30px;
    overflow: hidden;
  }
  @keyframes cir1 {
    0% {
      transform: rotateY(0deg) rotateZ(10deg);
    }
    100% {
      transform: rotateY(-360deg) rotateZ(10deg);
    }
  }
  .section3 .ball svg {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border: 0;
    border-radius: 17px;
  }
  .section3 .ball_2 {
    transform: rotateX(-90deg) rotateY(60deg) translateY(-70px);
  }
  .section3 .ball_2 .ball {
    animation: cir2 18s linear 0s infinite;
  }
  .section3 .ball_2 .ball {
    transition-delay: 900ms;
    transform: rotateY(-50deg) rotateZ(10deg);

  }
  @keyframes cir2 {
    0% {
      transform: rotateY(-60deg) rotateZ(10deg);
    }
    100% {
      transform: rotateY(-420deg) rotateZ(10deg);
    }
  }
  .section3 .ball_3 {
    transform: rotateX(-90deg) rotateY(120deg) translateY(-70px);
  }
  .section3 .ball_3 .ball {
    animation: cir3 18s linear 0s infinite;
    transition-delay: 700ms;
    transform: rotateY(-110deg) rotateZ(10deg);
  }
  @keyframes cir3 {
    0% {
      transform: rotateY(-120deg) rotateZ(10deg);
    }
    100% {
      transform: rotateY(-480deg) rotateZ(10deg);
    }
  }
  .section3 .ball_4 {
    transform: rotateX(-90deg) rotateY(180deg) translateY(-70px);
  }
  .section3 .ball_4 .ball {
    animation: cir4 18s linear 0s infinite;
    transition-delay: 500ms;
    transform: rotateY(-170deg) rotateZ(10deg);
  }
  @keyframes cir4 {
    0% {
      transform: rotateY(-180deg) rotateZ(10deg);
    }
    100% {
      transform: rotateY(-540deg) rotateZ(10deg);
    }
  }
  .section3 .ball_5 {
    transform: rotateX(-90deg) rotateY(240deg) translateY(-70px);
  }
  .section3 .ball_5 .ball {
    animation: cir5 18s linear 0s infinite;
    transition-delay: 300ms;
    transform: rotateY(-230deg) rotateZ(10deg);
  }
  @keyframes cir5 {
    0% {
      transform: rotateY(-240deg) rotateZ(10deg);
    }
    100% {
      transform: rotateY(-600deg) rotateZ(10deg);
    }
  }
  .section3 .ball_6 {
    transform: rotateX(-90deg) rotateY(300deg) translateY(-70px);
  }
  .section3 .ball_6 .ball {
    animation: cir6 18s linear 0s infinite;
    transition-delay: 100ms;
    transform: rotateY(-290deg) rotateZ(10deg);
  }
  @keyframes cir6 {
    0% {
      transform: rotateY(-300deg) rotateZ(10deg);
    }
    100% {
      transform: rotateY(-660deg) rotateZ(10deg);
    }
  }
  @media screen and (min-width:320px) and (max-width:639px){
    .section3 {
      width: 100%;
      height: auto;
      margin-top: 45%;
    }
    .onClickAfterImage {
      display: none;
      width: 100%;
      text-align: center;
    }
    .onClickAfterImage img {
      width: 27%;
      height: auto;
      border-radius: 80%;
    }
    .section3 .ui_base {
      /* top: 80%; */
      left: 37%;
      /* width: 400px; */
      /* height: 0px; */
      /* perspective: 300px; */
      /* perspective-origin: 50% top; */
    }
    .section3 .base {
      position: relative;
      width: 210px;
      height: 210px;
      backface-visibility: hidden;
      top: 30px;
    }
  }