  html,body {
      margin: 0;
      padding: 0;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      height: 100%;
      color: #fff;
      -webkit-tap-highlight-color: transparent;
      /* background-color: rgb(1, 9, 27); */
      background-color: #fff;
  } 
  body div {
    margin: 0px;
    padding: 0px;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  * {
    box-sizing: border-box;
  }
  header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    z-index: 10000;
    background-color: transparent;
  }
  header div {
    display: inline-block;
    margin-top: 30px;
    height: 50%;
  }
  .info {
    float: left;
    margin-left: 3%;
    margin-right: 10px;
    border-radius: 50%;
  }
  .info img{
    margin: 0 auto;

    height: 100%;
    border: 1px solid #FFF;
    border-radius: 50%;
    box-shadow: 0 0 5px #FFF;
  }
  .name {
    background-color: #FFF;
    color: #000;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 10px;
    height: 25px;
    margin-top: 35px;
    padding: 0px 11px;
    line-height: 25px;
  }
  .music {
    float: right;
    margin-right: 3%;
    cursor: pointer;
    border-radius: 50%;
    -webkit-animation: rotate 11s linear infinite;
    animation: rotate 11s linear infinite;
  }
  .music img {
    margin: 0 auto;
    height: 100%;
    border: 1px solid #FFF;
    border-radius: 50%;
    box-shadow: 0 0 5px #FFF;
  }
  .swiper-container {
    position: absolute !important;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
  /* .body-main {
    width: 100%;
    height: 100%;
    top: 70px;
    position: absolute;
    background-color: #000;
  } */
  /* .body-main-page {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
  } */
  .swiper-container div {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .body-main-page-one {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;
    background-image: url('../public/bg1.jpg');
    min-height: 600px;
    top: 0px;
  }
  .body-main-page-one-bottom {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: transparent;
  }
  .body-main-page-one-bottomDown {
    width: 50%;
    height: calc(100% - 21vh);
    margin: 21vh auto;
    position: relative;
    border-radius: 21px;
    background-color: transparent;
  }
  .body-main-page-one-bottomUp {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 21px;
    transition: border .4s ease;
  }
  .body-main-page-one-bottomUp-logo {
    position: relative;
    margin: 10px auto 30px;
    width: 170px;
    height: 170px;
    text-align: center;
    background-color: transparent;
    padding: 20px;
    box-shadow: 
      8px 8px 11px -11px #0366d6,
      -8px -8px 21px -11px #0366d6;
    transition: all 1s;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
  }
  .body-main-page-one-bottomUp-logo img {
    width: 100%;
    margin: 5px;
    border-radius: 50%;
  }
  /* .body-main-page-one-bottomUp-logo:after { */
    .body-main-page-one-bottomUp-logo {
    content: "";
    /* position: absolute; */
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(-40deg,transparent,transparent 70px,
      rgba(8, 61, 160, 0.5) 90px,rgba(8, 61, 160, 0.5) 100px,transparent 130px);
    background-position: -170px -170px;
    background-repeat: no-repeat;
    -webkit-transition: all 2.7s;
    transition: all 2.7s;
  }
  .body-main-page-one-bottomUp-logo:hover {
    box-shadow: 0 0px 30px #0366d6;
    background-color: #FFFF;
    transition: all 1.7s;
  }
  .body-main-page-one-bottomUp-logo:hover::after { 
    background-position: 170px 170px;
  }
  .body-main-page-one-bottomUp-title p:first-child {
    font-size: 5em;
    color: transparent;
    text-align: center;
    background: linear-gradient(30deg, #3388EE, #fff, #3388EE);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-animation: textMove 6s linear infinite;
    animation: textMove 6s linear infinite;
  }
  .body-main-page-one-bottomUp-title {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 0.7em;
    color: transparent;
    background: linear-gradient(20deg, #3388EE, #fff, #3388EE);
    background-clip: text;
    -webkit-background-clip: text;
  }
  @keyframes textMove
    {
      from {
        background-position: 0 0;
    }
    to {
        background-position: 2000px 0;
    }
    }

  @-webkit-keyframes textMove /*Safari and Chrome*/
  {
    from {
      background-position: 0 0;
  }
  to {
      background-position: 2000px 0;
  }
  }
  @-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  .body-main-page-two,.body-main-page-three div {
    background-color: transparent;
  }
  .body-main-page-two,
  .body-main-page-three,
  .body-main-page-four,
  .body-main-page-five {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 770px;
  }
  .body-main-page-two div,
  .body-main-page-three div,
  .body-main-page-four div,
  .body-main-page-five div {
    background-color: transparent;
  }
  .body-main-page-two {
    background-image: url('../public/bg2.jpg');
  }
  .body-main-page-two-bottom {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  .body-main-page-two-bottomUp-about {
    position: relative;
    top: 7%;
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
    color: transparent;
    background: linear-gradient(30deg, #3388EE, #fff, #3388EE);
    background-clip: text;
    -webkit-background-clip: text;
  }
  .body-main-page-two-bottomUp-title {
    position: relative;
    margin: 20% auto;
    text-align: center;
    float: right;
  }
  .body-main-page-two-bottomUp-title p {
      /* margin: 0 auto; */
      font-size: 13px;
    }
  .body-main-page-three {
    background-image: url('../public/bg4.jpg');
  }
  .body-main-page-three-bottom,
  .body-main-page-four-bottom,
  .body-main-page-five-bottom {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .body-main-page-three-title,
  .body-main-page-four-title,
  .body-main-page-five-title {
    position: relative;
    width: 100%;
    top: 7%;
  }
  .body-main-page-three-title div,
  .body-main-page-four-title div,
  .body-main-page-five-title div {  
    margin: 0 auto;
    width: 30%;
    text-align: center;
    font-size: 3em;
    color: transparent;
    background: linear-gradient(to right, #3388EE, #fff, #3388EE);
    background-clip: text;
    -webkit-background-clip: text;
  }
  .body-main-page-three-skills,
  .body-main-page-four-projects,
  .body-main-page-five-connect {
    /* min-width: 600px; */
    /* max-width: 1024px; */
    margin: 7% auto;
    position: relative;
    width: 100%;
    height: 50%;
  }
  .skills-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    max-width: 1100px;
  }
  .skills {
    width: 150px;
    height: 150px;
    margin: 10px;
    perspective: 300px;
  }
  .skillsDiv {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  .skillsDiv:hover .skills-icon{
    transform-origin: 50% 50% -75px;
    animation: outright .95s ease-out forwards;
    backface-visibility: hidden;
  }
  .skillsDiv:hover .skills-hide {
    transform-origin: 50% 50% -75px;
    animation: inright .4s ease-out forwards;
  }
  @keyframes outright {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotateY(180deg);
    }
  }
  @keyframes inright {
    0% {
      transform: rotateY(-90deg);
    }
    100% {
      transform: rotateY(0);
    }
  }
  .skills-icon {
    width: 100%;
    height: 100%;
  }
  .skills-icon img {
    width: 100%;
    height: 100%;
  }
  .skills-hide {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transform-origin: right;
    transform: translate3d(-100%,0,0) rotateY(-90deg);
  }
  .body-main-page-three-footer,
  .body-main-page-four-footer,
  .body-main-page-five-footer {
    width: 100%;
    position: absolute;
    bottom: 5%;
  }
  .body-main-page-three-footer div,
  .body-main-page-four-footer div,
  .body-main-page-five-footer div
  {
    margin: 0 auto;
    width: 17%;
    text-align: center;
    font-size: 1em;
    color: transparent;
    background: linear-gradient(30deg, #3388EE, #fff, #3388EE);
    background-clip: text;
    -webkit-background-clip: text;
  }
  .body-main-page-four {
    background-image: url('../public/bg3.jpg');
  }
  .projects-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    max-width: 1100px;
  }
  .projects {
    width: 150px;
    height: 390px;
    margin: 0px 10px;
    perspective: 300px;
    background-color:rgba(84, 133, 179, 0.5);
    border-radius: 20px;
  }
  .projectsDiv {
    position: relative;
    margin: 0 auto;
    width: 10%;
    height: 100%;
    line-height: 60px;
    font-size: 20px;
    font-weight: 700;
  }
  .projects-ul a {
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
  }
  .projects:hover {
    box-shadow: 0 0px 30px #0366d6;
    transition: all 1.7s;
  }
  .body-main-page-five {
    background-image: url('../public/bg5.jpg');
  }
  .pr {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .section3 {
    width: 1000px;
    height: 680px;
    margin: 40px auto 0px;
    background: url(/public/147_03.png) 32px 65px no-repeat;
  }
  .section3 .ui_base {
    position: relative;
    top: 110px;
    left: 270px;
    width: 400px;
    height: 0px;
    perspective: 700px;
    perspective-origin: 50% top;
  }
  .u_p3d {
    transform-style: preserve-3d;
  }
  .section3 .ball_c {
    transform-origin: 50% 50%;
    position: absolute;
    width: 225px;
    height: 157px;
    line-height: 157px;
    text-align: center;
    left: 90px;
    top: 100px;
  }
  .section3 .base {
    animation: cir 18s linear 0s infinite;
    transform: rotateX(80deg) rotateY(-10deg);
    position: relative;
    width: 350px;
    height: 350px;
    backface-visibility: hidden;
    top: -38px;
    left: 40px;
  }
  @keyframes cir {
    0% {
      transform: rotateX(80deg) rotateY(-10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(80deg) rotateY(-10deg) rotateZ(-360deg);
    }
  }
  .section3 .ball_1 {
    transform: rotateX(-90deg) rotateY(0deg) translateY(-70px);
  }
  .section3 .ball_base {
    transform-origin: 225px 0px;
    position: absolute;
    top: 175px;
    left: -50px;
    width: 225px;
    height: 127px;
  }
  .section3 .ball_1 .ball {
    animation: cir1 18s linear 0s infinite;
    transition-delay: 1100ms;
    transform: rotateY(10deg) rotateZ(10deg);
  }
  .section3 .ball {
    transition: all 2s ease-out 0ms;
    transform-origin: 50% 50%;
    position: absolute;
    left: -200px;
    top: -30px;
    overflow: hidden;
  }
  @keyframes cir1 {
    0% {
      transform: rotateY(0deg) rotateZ(10deg);
    }
    100% {
      transform: rotateY(-360deg) rotateZ(10deg);
    }
  }
  .section3 .ball img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    border: 0;
    border-radius: 17px;
  }
  .section3 .ball_2 {
    transform: rotateX(-90deg) rotateY(60deg) translateY(-70px);
  }
  .section3 .ball_2 .ball {
    animation: cir2 18s linear 0s infinite;
  }
  .section3 .ball_2 .ball {
    transition-delay: 900ms;
    transform: rotateY(-50deg) rotateZ(10deg);

  }
  @keyframes cir2 {
    0% {
      transform: rotateY(-60deg) rotateZ(10deg);
    }
    100% {
      transform: rotateY(-420deg) rotateZ(10deg);
    }
  }
  .section3 .ball_3 {
    transform: rotateX(-90deg) rotateY(120deg) translateY(-70px);
  }
  .section3 .ball_3 .ball {
    animation: cir3 18s linear 0s infinite;
    transition-delay: 700ms;
    transform: rotateY(-110deg) rotateZ(10deg);
  }
  @keyframes cir3 {
    0% {
      transform: rotateY(-120deg) rotateZ(10deg);
    }
    100% {
      transform: rotateY(-480deg) rotateZ(10deg);
    }
  }
  .section3 .ball_4 {
    transform: rotateX(-90deg) rotateY(180deg) translateY(-70px);
  }
  .section3 .ball_4 .ball {
    animation: cir4 18s linear 0s infinite;
    transition-delay: 500ms;
    transform: rotateY(-170deg) rotateZ(10deg);
  }
  @keyframes cir4 {
    0% {
      transform: rotateY(-180deg) rotateZ(10deg);
    }
    100% {
      transform: rotateY(-540deg) rotateZ(10deg);
    }
  }
  .section3 .ball_5 {
    transform: rotateX(-90deg) rotateY(240deg) translateY(-70px);
  }
  .section3 .ball_5 .ball {
    animation: cir5 18s linear 0s infinite;
    transition-delay: 300ms;
    transform: rotateY(-230deg) rotateZ(10deg);
  }
  @keyframes cir5 {
    0% {
      transform: rotateY(-240deg) rotateZ(10deg);
    }
    100% {
      transform: rotateY(-600deg) rotateZ(10deg);
    }
  }
  .section3 .ball_6 {
    transform: rotateX(-90deg) rotateY(300deg) translateY(-70px);
  }
  .section3 .ball_6 .ball {
    animation: cir6 18s linear 0s infinite;
    transition-delay: 100ms;
    transform: rotateY(-290deg) rotateZ(10deg);
  }
  @keyframes cir6 {
    0% {
      transform: rotateY(-300deg) rotateZ(10deg);
    }
    100% {
      transform: rotateY(-660deg) rotateZ(10deg);
    }
  }
  /* .swiper-pagination {
    position: fixed;
    height: 35%;
    width: 30px;
    top: 20%;
    right: 17px;
  }
  .swiper-pagination-bullet {
    opacity: 1;
    position: relative;
    width: 13px;
    height: 13px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 20%;
    background: transparent;
    margin: 70px auto;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    display: block;
  }
  .swiper-pagination-bullet:hover {
    width: 21px;
    height: 21px;
    border: 5px solid rgb(255, 255, 255);
    cursor: pointer;
  } */
